.card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 12px;
    background-color: cornflowerblue;
    color: cornsilk;
}

.cardBody {
    font-size: 18px;
    width: 50%;
    margin: 13px;
    padding: 12px;
    background-color: rgb(167 173 181);
}