
   <!-- <p class="green">this is title {{title}}</p>

   <h2>Stash Your Changes Before Branch Switch</h2>

   <p><code>git stash:</code> Stash our local changes before branch switch if need to move on other branch during work. </p>
   <p><code>git stash list:</code> List all stashed changes.</p>
   <p><code>git stash apply:</code> If you want to keep the stash for later use or as a backup.</p>
   <p><code>git stash pop:</code>If you’re sure you don’t need the stash anymore after applying it.</p>

   <h2>Git Reset or Clear Stash</h2>
   <p><code>git stash clear:</code> Remove all stashed changes from the list.</p>

   <h2>Check Git History</h2>
   <p><code>git log:</code> View the commit history for the current branch.</p>
   <p><code>git reflog</code> View a condensed version of the commit history.</p> -->


   <!-- Prime Components -->

   <app-primeng-comps></app-primeng-comps>